@import "tailwindcss";

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F5F5F5;
	color: #333333;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.85);
}
